{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="">
        <label for="">Subject:</label>
        <input type="text" name="" id="">
        Comment:
        <input type="textbox">
        <input type="submit" value="Update comment" name="" class="btn btn-success">
    </form>
</div>
{% endblock %}