{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <h3>Edit note</h3>
    <form action="/comment/{{ comment.id }}?_method=PUT" method="POST">
        <label for="">Subject:</label>
        <input type="text" name="" id="">
        <label for="">Note:</label>
        <input type="text" value="">
        <input type="submit" value="Update note" name="" class="btn btn-success">
    </form>
</div>
{% endblock %}