{% layout 'layout.liquid'%}
{% block content %}
<div>
    <div class="input-group">
        <legend>Search a Stock!</legend>
        <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <div class="row">
        {% for stock in stocks %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ stock.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Price: {{ stock.price }}
                </h5>
                <form action="/stock" method="POST">
                    <input type="hidden" name="ticker">
                    <input type="submit" value="test">
                </form>
                <a class="btn btn-primary" href="/stock/{{ stock.ticker }}" method="GET">Stock Info</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}