{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h1>hi</h1>
        <h3>{{ stocks.name }}</h2>

        <!-- {% if stockTicker == stockItems %}
        {% endif %} -->
    </article>
</div>
{% endblock %}